.navbar-logo {
  width: 110px;
  height: auto;
}
body {
  background-color: #d3dae0;
}
footer {
    background-color: #F8F9FA;
    padding: 20px;
    text-align: center;
    color: #6C757D;
    font-size: 14px;
  }
  .small-image {
    max-width: 100%;
    height: auto;
  }